<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <a href="/impressum" class="text-muted">Impressum &amp; Datenschutzerklärung</a>
      <p class="mb-1"> &copy; Jesse Günzl</p>
    </div>
  </footer>