<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio site for Jesse Guenzl: Web-Development, Data-Science and Game-Development.">
    <title>Jesse Günzl</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar.ejs") %>
    <%- include('../partials/flash.ejs') %>
        <%- body %>
    <%- include("../partials/footer.ejs") %>
    <script src="/js/bootstrap.min.js"></script> 
</body>

</html>
