<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my website</h1>
    <hr>
    <h4>Leave a comment:</h4>
    <form action="/" method="POST">
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <button>Submit</button>
    </form>
    <% for(comment of comments) { %> 
        <div class="comment">
            <p><strong><%= comment.date %> </strong></p>
            <p><%= comment.comment %></p>
        </div>
    <% } %> 
</body>
</html>