#hero {
    min-height: 95vh;
}

section {
    min-height: 60vh;
}

h2 {
    margin: 2rem 0rem;
}

.card-text {
    height: 4rem;
}

.card {
    transition: 300ms all;
}

.card-img-top {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}
