section {
    background-color: rgba(255, 255, 255, 0.849);
    margin: 5rem 0;
    border-radius: 10px;
    /* opacity: 0.9; */
}

#hero {
    min-height: 85vh;
    margin-top: 2rem;
}

#bio {
    min-height: 85vh;
}

h2 {
    margin: 2rem 0rem;
}

#projects .card-text {
    min-height: 4rem;
}

#projects .card {
    height: 100%;
}

#projects .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
}

.contact:hover {
    transform: scale(1);
}

.skill {
    width: 80%;
}

#contact {
    min-height: 50vh;
}

footer {
    background-color: white;
}

.main {
    min-height: 80vh;
}


