body {
    background-color: rgb(54, 54, 54);
}

section {
    background-color: white;
    margin: 5rem 0;
    border-radius: 10px;
    opacity: 0.8;
}

#hero {
    min-height: 95vh;
    margin-top: 2rem;
}

#bio {
    min-height: 70vh;
}

h2 {
    margin: 2rem 0rem;
}

.card-text {
    height: 4rem;
}

.card {
    transition: 300ms all;
}

.card-img-top {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
}

.skill {
    width: 80%;
}

#contact {
    min-height: 50vh;
}

footer {
    background-color: white;
}



/* background */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
  }